input[type=text]{
	width:50%;
	height:25px;
	margin-top:10px;
	border:2px solid #006f9a;
	color:black !important;
}

textarea{
	border:2px solid #f5989d;
}

input[type=submit]{
	margin-top:10px;
	padding:5px 25px 5px 25px;
	background-color:#006f9a;
	color:white;
}

form{
	margin-left:25px;
}