input[type=text]{
	width:50%;
	height:25px;
	margin-top:10px;
	border:2px solid #619b41;
	color:black !important;
}

textarea{
	border:2px solid #619b41;
}

input[type=submit]{
	margin-top:10px;
	padding:5px 25px 5px 25px;
	background-color:#619b41;
	color:white;
}

form{
	margin-left:25px;
}

#processo{
	width:39%;
}