*{
	color:white;
	font-family:Arial, Verdana;
}	

body{
	background-color:#ffffff;
}

#site{
	margin-top:-15px;
}

#topo{
	background-image:url(images/banner_topo.png);
	height:100px;
	background-repeat:no-repeat;
}

h2{
	color:white;
	margin-left:5%;
}

#logo{
	width:150px;
	margin-left:100px;
	padding:15px;
	background-color:#ffffff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#meio{
	padding:15px;
	padding-top:50px;
	margin:auto;
	margin-top:-40px !important;
	background-color:#959595;
	color:white;
	width:96.5%;
	position:absolute;
	z-index:-1;
}

#meio #imagem{
	position:absolute;
	margin-top:-60px;
	margin-left:50%;
}

.index #meio{
	width:75%;
	margin-left:10%;	
	padding-bottom:25px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;	
}

.resultados #meio{
	min-height:800px;
}

table{
	border:1px solid white;
	margin-top:25px;
	margin-left:2%;
	font-size:10pt;
	width:95%;
	word-wrap:break-word;
}

table th{
	background-color:#619b41;
}

table td.tdEstado{
	width:20%;
}

table td.tdTabela{
	border:1px solid white;
	padding:5px;
}

td.par{
	background-color: #e9e9e9;
	color:black;
}

td.par h4, td.par b{
	color:black;
}

td.impar{
	background-color: #619b41;
	color:white;
}

.mini-tabela th{
	background-color:#619b41;
	color:white;
}

.mini-tabela td{
	background-color: #e9e9e9;
	color:black;
}

#conteudoPrincipal{
	background-color: #619b41 !important;
}

#container{
	margin-top:-25px;
	color:black !important;
}

.clear{
	clear:both;
}

div.info, div.sucesso, div.erro {
	font-size: 12px;	
	padding: 12px;
	width: auto;
}

div.info{
	background-color: #e9e9e9;
	border: 2px solid #c1c1c1;
	color:black !important;
}

div.sucesso{
	background-color: #7dc100;
	border: 2px solid #239300;
	color: white;
}

div.erro{
	background-color: #df0000;
	border: 2px solid #9a0606;
	color: white;
}