*{
	color:white;
	font-family:Arial, Verdana;
}	

body{
	background-color:#006f9a;
}

#topo{
	margin:25px 0px;
}

h2{
	color:white;
	margin-left:5%;
}

#meio{
	padding:15px;
	margin-top:25px;
	margin-left:5%;
	margin-right:5%;
	background-color:#013b51;
	color:white;
}

#meio #imagem{
	position:absolute;
	margin-top:-60px;
	margin-left:50%;
}

table{
	border:1px solid white;
	margin-top:25px;
	margin-left:2%;
	font-size:10pt;
	width:95%;
	word-wrap:break-word;
}

table th{
	background-color:#006f9a;
}

table td.tdEstado{
	width:20%;
}

table td.tdTabela{
	border:1px solid white;
}

td.par{
	background-color: #e9e9e9;
	color:black;
}

td.impar{
	background-color: #006f9a;
	color:white;
}

#conteudoPrincipal{
	background-color: #013b51 !important;
}

.clear{
	clear:both;
}

div.info, div.sucesso, div.erro {
	font-size: 12px;	
	padding: 12px;
	width: auto;
}

div.info{
	background-color: #e9e9e9;
	border: 2px solid #c1c1c1;
	color:black !important;
}

div.sucesso{
	background-color: #7dc100;
	border: 2px solid #239300;
	color: white;
}

div.erro{
	background-color: #df0000;
	border: 2px solid #9a0606;
	color: white;
}